

@import url('https://fonts.googleapis.com/css2?family=Dangrek&family=Germania+One&display=swap');







body {
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dangrek', cursive;
  
 
}

 
.cabecalho {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    background-color: #ff8732;
    
}



.cabecalho-menu li {
    display: inline;
    font-size: 25px;
    margin-bottom: 20px;
    
}

.cabecalho-menu li a {
    text-decoration: none;
  color: white;
}


.cabecalho ul {
    display: flex;
   align-items: center;
   margin: 0 auto;
   gap: 40px;
  
 
}


.cabecalho-menu a:hover {
    color: rgb(70, 30, 20);
    transition: all 2ms;
    border-bottom: 3px solid rgb(70, 30, 20);
 
}



/*-----------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.lpage {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(70, 30, 20);
    width: 100%;
    height: 60rem;
    gap: 0px;

}

.lpage1 h1 {
    font-size: 80px;
    color: white;
}

.img3 {
    height: 12rem;
    border-radius: 20px;
   margin:12px 20px 0px 28px;
}



.btn {
    background-color: rgb(900, 80, 20);
    padding: 20px;
    border: none;
    cursor: pointer;
    border-radius: 20px;
    color: white;
    font-size: 20px;
    margin: 0 ;
   
}



.paragraf {

    text-align: center;
    font-size: 30px;
    margin: 0%;

}


.cardimg {
    background-color: aliceblue;
    border-radius: 22px;
    width: 22rem;
}

.btnh {
    display: flex;
    justify-content: center;
   padding: 20px;
}

.btnh1 {

    padding: 8px;
    border: none;
    border-radius: 12px;
    background-color: rgb(70, 30, 20);
    cursor: pointer;
    font-size: 20px;
    color: white;
    
}
.cardimg h1 {
    text-align: center;
    margin: 0px;
}


.cards {
    display: flex;
    gap: 20px;
    padding: 4rem;
    border-radius: 20px;
}





/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
.corpo {
    height: 50rem;
  
}

.secao {
    display: flex;
    justify-content: center;
    padding-bottom: 90px;
    gap: 20px;
    background-color: #ff8732;
}

.menu {
    display: inline;
    background-color: #fffbf0;
   
    padding: 20px;
    border-radius: 30px;
}

.texto {
    font-size: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    color: white;
    background-color: #ff8732;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card {
    display: inline;
    width: 12rem;
  
}



.card h2 {
    text-align: center;
    width: 19rem;
    margin: 1.2px;
}

.menu img {
 border-radius: 20px;
    margin-left:1rem;
    width: 17rem;
    height: 14rem;
    
}


.menu button {
    padding: 14px;
    border: none;
    border-radius: 16px;
    background-color: rgb(70, 30, 20);
    cursor: pointer;
    font-size: 28px;
    color: white;
    
}


.txt {
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
}

.txt p {
    font-size: 30px;
    margin: 1.2px;
    text-align: center;
}











.vanta {
    background-color: #a33400;
    padding-bottom: 40px;
  
}

.btn1 {
    margin: 0;
    padding-left: 40px;
    padding-top: 30px;
    padding-bottom: 20px;
    font-size: 40px;
}

.pics {
    display: flex;
    justify-content: center;
    text-align: center;
    
}


.pics img {
    height: 5rem;
}

